body
{
  background:black;
}

.border
{
  position:absolute;
  left:2px;
  top:3px;
  width:436px;
  height:453px;
  border:1px solid #aaaaaa;
}

#score
{
  position:absolute;
  left:442px;
  top:5px;
  width:432px;
  height:448px;
  overflow:hidden;
  margin:0px;
  padding:0px;
  line-height:0px;
}

#lives
{
  position:absolute;
  left:442px;
  top:50px;
  overflow:hidden;
  margin:0px;
  padding:0px;
  line-height:0px;
}

#time
{
  position:absolute;
  left:442px;
  top:100px;
  overflow:hidden;
  margin:0px;
  padding:0px;
  line-height:0px;
}

#playfield
{
  position:absolute;
  left:5px;
  top:6px;
  width:432px;
  height:448px;
  overflow:hidden;
  margin:0px;
  padding:0px;
  line-height:0px;
}

.tile
{
  display:inline-block;
  width:24px;
  height:32px;
  overflow:hidden;
  margin:0px;
  padding:0px;
  line-height:0px;
  background-repeat: no-repeat;
}

#playfield>.tile
{
  position:absolute;
}

#score>.tile
{
  background-image:url(numbers.png);
}

#lives>.tile
{
  background-image:url(lives.png);
}

#time>.tile
{
  background-image:url(numbers.png);
}

[level='1'] .tile
{
  background-image:url(graph01.png);
}

[level='2'] .tile
{
  background-image:url(graph02.png);
}

[level='3'] .tile
{
  background-image:url(graph03.png);
}

[level='4'] .tile
{
  background-image:url(graph04.png);
}

[level='5'] .tile
{
  background-image:url(graph05.png);
}

[level='6'] .tile
{
  background-image:url(graph06.png);
}

[level='7'] .tile
{
  background-image:url(graph07.png);
}

[level='8'] .tile
{
  background-image:url(graph08.png);
}

[level='9'] .tile
{
  background-image:url(graph09.png);
}

[level='10'] .tile
{
  background-image:url(graph10.png);
}

[level='11'] .tile
{
  background-image:url(graph11.png);
}

[level='12'] .tile
{
  background-image:url(graph12.png);
}

[level='13'] .tile
{
  background-image:url(graph13.png);
}

[level='14'] .tile
{
  background-image:url(graph14.png);
}

[level='15'] .tile
{
  background-image:url(graph15.png);
}

[level='16'] .tile
{
  background-image:url(graph16.png);
}

[level='17'] .tile
{
  background-image:url(graph17.png);
}

[level='18'] .tile
{
  background-image:url(graph18.png);
}

[level='19'] .tile
{
  background-image:url(graph19.png);
}

[level='20'] .tile
{
  background-image:url(graph20.png);
}

[level='21'] .tile
{
  background-image:url(graph21.png);
}

[level='22'] .tile
{
  background-image:url(graph22.png);
}

[level='23'] .tile
{
  background-image:url(graph23.png);
}

[level='24'] .tile
{
  background-image:url(graph24.png);
}

[level='25'] .tile
{
  background-image:url(graph25.png);
}

[level='26'] .tile
{
  background-image:url(graph26.png);
}

[level='27'] .tile
{
  background-image:url(graph27.png);
}

[level='28'] .tile
{
  background-image:url(graph28.png);
}

[level='29'] .tile
{
  background-image:url(graph29.png);
}

[level='30'] .tile
{
  background-image:url(graph30.png);
}

[level='31'] .tile
{
  background-image:url(graph31.png);
}

[level='32'] .tile
{
  background-image:url(graph32.png);
}

@keyframes enemy_flip
{
  0% { background-position:0px -192px; }
  50% { background-position:0px -224px; }
  100% { background-position:0px -192px; }
}

[tile='0']
{
  background-position:0px 0px;
}

[tile='1']
{
  background-position:0px -32px;
}

[tile='2']
{
  background-position:0px -64px;
}

[tile='3']
{
  background-position:0px -96px;
}

[tile='4']
{
  background-position:0px -128px;
}

[tile='5']
{
  background-position:0px -160px;
}

[tile='6']
{
  background-position:0px -192px;
}

#playfield [tile='6']
{
  animation-name:enemy_flip;
  animation-duration:0.25s;
  animation-iteration-count:infinite;
  animation-timing-function:steps(1,end);
}

[tile='7']
{
  background-position:0px -224px;
}

#playfield [tile='7']
{
  animation-name:enemy_flip;
  animation-duration:0.25s;
  animation-iteration-count:infinite;
  animation-timing-function:steps(1,end);
}

[tile='8']
{
  background-position:0px -256px;
}

[tile='9']
{
  background-position:0px -288px;
}

[tile='10']
{
  background-position:0px -320px;
}

[tile='11']
{
  background-position:0px -352px;
}

[tile='12']
{
  background-image:url(supp.png) !important;
  background-position:0px -32px;
}
